.text-style1 {
    color: #023A51;
    font-family: "Poppins";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



.text-style3 {
    color: #59667D;
    font-family: "Poppins";
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    word-spacing: 4px;
}

.employee_btn {
    color: #FFF;
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    border: 1px solid #28A5C1;
    background: #28A5C1;
    box-shadow: 0px 5px 20px 0px rgba(40, 165, 193, 0.20);
}

.text-style4 {
    color: #59667D;
    text-align: center;
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Submit-btn {
    color: #FFF !important;
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    border: 1px solid #28A5C1;
    background: #28A5C1 !important;
    box-shadow: 0px 5px 20px 0px rgba(40, 165, 193, 0.20);

}

.btn-cancel {
    color: #023A51;
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 5px;
    border: 1px solid #DCD9D9;
    background: #F9FAFB;
}

.btn-ok {
    color: #FFF;
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 5px;
    background: #28A5C1;
    padding: 6px 32px;
}

.btn-ok:hover {
    color: #FFF;
    background: #122024;

}

.botum_text {
    color: #59667D;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bg-poup_top {
    border-radius: 5px 5px 0px 0px;
    background: #F9FAFB;
    height: 41px;
}

td.table_heding {
    color: #023A51;
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

th.table_data {
    color: #023A51;
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}